.container-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #77a4a6;
  justify-content: center;
  
  flex-grow: 1;
  flex-basis: auto;
}

.login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #022a2d;
  border-radius: 20px;
  padding: 20px;
}

.container-2 h1 {
  display: flex;
  justify-content: center;
  color: #1d676d;
  font-size: 300%;
  font-weight: bold;
  margin-bottom: 70px
}

.container-2 .login input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  padding-right: 50%;
}

.btn_forms {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  padding-bottom: 5%;
}

.btn_entrar,
.btn_voltar {
  padding: 15px;
  margin: 0px 15px;
  background-color: #1d676d;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  border: 0;
  width: 250px;
  cursor: pointer;
}

.recuperacao_cadastro,
.recuperar_senha,
.sem_conta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 10px;
  color: #1d676d;
  text-decoration: none;
}

.sem_conta a {
  margin-left: 8px;
  text-decoration: none;
}

