.dashboard{
    flex-grow: 1;
    flex-basis: auto;
    background-color: #77a4a6;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.dashboard .container{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.graficos{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* -------------- Sessão 1 - Métricas --------------------- */
.sessao-1{
    display: flex;
    justify-content: space-between;
}

.card_metrica{
    width: 37.5%;
    background-color: white;
    margin: 10px 10px;
    height: 150px;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid #1d676d;

}

.card_metrica h1{
    font-size: 50px;
    font-weight: 300;
}

.sessao-1 h4{
    font-size: 17px;
    font-weight: 150;
}

.icon_metricas span{
    background-color: #1d6d48;
    color: white;
    padding: 3px;
    border-radius: 50%;
}

.icon_metricas{
    display: flex;
    justify-content: right;
}


#icon_queda{
    background-color: rgb(194, 43, 43);
}

.card_total{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    width: 25%;

    
}
.metrica_total{
    background-color: white;
    padding: 20px;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid #1d676d;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}


/* -------------- Sessão 2 - Gráfico --------------------- */
.card-grafico{
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    margin: 10px 10px;
    height: 300px;
    border: 2px solid #1d676d;
}

.vetor{
    width: 100%;
}

/* -------------- Sessão 3 - Gráficos --------------------- */
.sessao-3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .sessao-2 .card-grafico{
    width: 50%;
} */

#regiao{
    width: 30%;
}

#semana{
    width: 70%;
}

#desempenho_semana{
    height: 300px;
}

/* ---------------Titulo-------------------- */
.titulo{
    display: flex;
    padding: 20px 0;
    justify-content: left;
    color: white    ;
    align-items: center;
}

.titulo h2{
   font-size: 35px;
}

.titulo button{
    background-color: rgba(138, 231, 138, 0.459);
    color: white;
    margin: 20px;
    padding: 5px 25px;
    border: 1px solid #1d676d;
    border-radius: 15px;
}

