/* HOME */

.containerGeralhome {
  background-color: #AFDADB;
  background-image: url("../assets/Linhas 1ª dobra direita.svg"), url("../assets/Linhas 1ª dobra esquerda.svg");
  background-size: 35%, 50%;
  background-position: right top, left top;
  background-repeat: no-repeat;
}

/* SOBRE NÓS */


.meio h2 {
  color: #1d676d;
  margin: 0;
  padding-top: 70px;
  font-size: 35px;
  font-weight: 800;
  text-align: justify;
}

.meio p {
  width: 500px;
  color: rgb(80, 80, 80);
  text-align: justify;
}

.meio span {
  color: #1d676d;
  font-size: 35px;
  font-weight: 700;
}

.imagem1 {
  background-color: #1d676d;
  height: 300px;
  width: 300px;
  margin-top: 100px;
  border-radius: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
}

.primeira_parte {
  display: flex;
  justify-content: space-around;
}

.segunda_parte {
  display: flex;
  justify-content: space-around;
}

.segunda_parte h2 {
  text-align: justify;
}

.imagem2 {
  background-color: #1d676d;
  height: 517px;
  width: 270px;
  margin-top: 100px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

/* ENTRE EM CONTATO*/

.contato {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contato p {
  width: 600px;
  font-size: 25px;
  text-align: center;
}

input {
  margin: 8px 8px;
  border-radius: 10px;
  height: 30px;
  width: 250px;
  border: 0;
  background-color: #dedede;
  padding: 10px;
}

#msg {
  background-color: #dedede;
  border-radius: 10px;
  width: 250px;
  height: 100px;
  padding: 8px;
  margin-bottom: 3%;
}

button {
  background-color: #1d676d;
  color: #ebded5;
  border: 0;
  margin-bottom: 5%;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  transition: all .5s ease-out;
  border: 2px solid #1d676d ;
}

button:hover{
  color: #ebded5;
    background-color: #77a4a6;
}

/* NAVBAR */

.container-header {
  display: flex;
  width: 100%;
  /* font-size: 100%; */
  
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  background-color: #1d676d; ;
  padding-left: 25px;

} 

.ppdrink {
  max-width: 100px;
}

/* para colocar a header para descer junto com a pagina tem que colocar: "position: fixed;
width: 100vw;" na header */

.navbar a {
  color: #ffff;
  text-decoration: none;
}

.navbarLista {
  display: flex;
  width: 100%;
  align-items: center;
  list-style: none;
justify-content: end;
padding-right: 50px;

}

.navbarLista ul,
.navbarLista li a {
  justify-content: space-evenly;
  padding: 5px 10px;
  color: #0F1631;
  font-weight: 800;
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.loginBtn {
  padding: 7px 25px;
  color: white;
  letter-spacing: 1px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #77a4a6;
}


/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  background-color: #1d676d;
  color: white;
}

.footerContainer,
.container-1,
.container-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 1%;
}
.paragrafoFooter {
  margin-bottom: 3%;
  margin-top: 1.9%;
}

 .primeiro_texto h2 {
  margin-bottom: 4%;
}
.segundo_texto h2{
  margin-bottom: 4%;
}
.contato h2, p{
  margin-bottom: 1%;
}