* {
  font-family:  Verdana;
}

body {
  background-color: #77a4a6;
  overflow-x: hidden;
  display: flex;
  flex-flow: column;
  height: 100vh;
  margin: 0;
  border: 0;
  height: 100vh;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

/* HEADER */

.ppdrink {
  max-width: 100px;
}

.header {
  flex-grow: 0;
  flex-basis: auto;
  background-color: #1d676d;
  /* border-bottom: 3px solid #32b9cd; */
  position: fixed;
  width: 100vw;
}

/* para colocar a header para descer junto com a pagina tem que colocar: "position: fixed;
width: 100vw;" na header */

.header .container {
  justify-content: space-between;
}

.titulo {
  color: #32b9cd;
  font-weight: 900;
}

.navbar {
  display: flex;

  gap: 30px;
  align-items: center;
  list-style: none;
}

.navbar a {
  color: #ffff;
  text-decoration: none;
}

/* começo do footer */

.footer {
  flex-grow: 0;
  width: 100vw;
  height: 100px;
  background-color: #1d676d;
  color: white;
  /* display: flex; */
  /* justify-content: center; */
}

/* utilizando o height nao precisa colocar o diplay flex 
no footer */

.footer .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}