* {
    margin: 0;
    padding: 0;
    font-family: Verdana;

}

.container {
    display: flex;
    margin: 0;
    width: 90%;

}


/* ---------------------- Header Dashboard----------------------- */
.header .container {
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: #1d676d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-size: 16px;

}

.logo {
    max-width: 80px;

}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 40px;
    text-decoration: none;
    list-style: none;
    align-items: center;
    justify-self: left;
    margin-left: 50px;


}

.navbar a {
    text-decoration: none;
    color: white;
}

.perfil_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.perfil_header img {
    width: 30px;
    margin-right: 8px;
    margin-left: 20px;
}

.perfil_header h5 {
    font-weight: 100;
    font-size: 14px;
}

#seta_user {
    width: 20px;
    margin-left: 10px;
}

/* ---------------------- PESQUISAR ----------------------- */
.search-bar {
    max-width: 500px;
    height: 14px;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    justify-self: center;
    justify-content: center;
    margin-left: 100px;
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 14px;
    color: white;
}

::placeholder {
    color: rgba(255, 255, 255, 0.719);
}

.search-bar button img {
    width: 20px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: transparent;

}
/* ---------------------- Pop-up's ----------------------- */
.card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #e6005a 3px solid;
    padding: 10px;
    margin-right: 10%;
  }
  
  .card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
  }

/* ---------------------- Footer ----------------------- */
.footer {
    flex-grow: 0;
    width: 100%;
    height: 100px;
    background-color: #1d676d;
    color: white;
    display: flex;
    justify-content: center;
}

.footer .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}


/*SCROLL*/
::-webkit-scrollbar {
    width: 8px;
}

/* tamanho da linha*/

::-webkit-scrollbar-track {
    background-color: #0F1631;
}

/* cor de fundo do scrool*/

::-webkit-scrollbar-thumb {
    background-color: #1F4662;
    border-radius: 20px;
}

/* cor da barra de rolagem*/