body {
  margin: 0;
  background-color: #e2f4f4;
  background-image: url("../assets/Linhas 1ª dobra direita.svg"), url("../assets/Linhas 1ª dobra esquerda.svg");
  background-size: 35%, 50%;
  background-position: right top, left top;
  background-repeat: no-repeat;
}

.sessao-inicio{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sessao-1 {
  background-image: url("https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: 100%;
  background-position: 40%;
  background-repeat: no-repeat;
 margin-top: 3%;
  max-width: 70%;
  display: flex;
  text-align: justify;
}

.background{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 100px;
}

.text-1 h2, p{
  text-shadow: 1px 3px 4px #000000;
  font-weight: bold;
  color: white;
}

.logo {
  background-color: #1d676d;
  border-radius: 10px;
  margin-left: 7%;
}

.logo img {
  width: 250px;
  opacity: 0.8;
}

h6 {
  margin-top: 5%;
  margin-left: 5%;
  color: white;
}

.sessao-meio,
.final {
  background-image: url("../assets/Linhas 1ª dobra direita.svg"), url("../assets/Linhas 1ª dobra esquerda.svg");
  background-size: 40%, 55%;
  background-position: right top, left bottom;
  background-repeat: no-repeat;
}

.figuras img {
  border: 7px solid #e2e1e1;
  width: 250px;
  height: 360px;
  margin-bottom: 2%;
  margin-right: 4%;
  filter: grayscale(95%);
  margin-left: 10%;
  box-shadow: 2px 4px 6px black;
}

.nomes-linha1 p, .nomes-linha1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1d676d;
  font-weight: bold;
  margin: 2% 4% ;
}

.span_redes_sociais {
  max-width: 50%;
  margin-left: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  text-align: justify;
}

.iconesRedes {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconesRedes img {
  padding: 10px;
}

/*----------------------------- FOOTER -----------------------------------*/

.footer {
  background-color: #1d676d;
  text-align: center;
  color: wheat;
}