/* HOME */

/* NAVBAR */
.ppdrink {
  max-width: 100px;
}

.header-navbar {
  width: 100%;
  background-color: #1d676d ;
  display: flex;
  }

.logo-navbar {
  display: flex;
  padding: 0 5rem;
}

.navbar a {
  color: #ffff;
  text-decoration: none;
}

.navbarLista {
  display: flex;
  width: 100%;
  align-items: center;
  list-style: none;
  justify-content: end;
  padding: 0 5rem;
}

.navbarLista ul, .navbarLista li a {
  justify-content: space-evenly;
  padding: 5px 10px;
  color: #0F1631;
  font-weight: 800;
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.loginBtn {
  padding: 7px 25px;
  color: #1d676d;
  letter-spacing: 1px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #ffff;
}

/* BANNER */
.banner{
  background-image: url('../assets/banner_inicio.png');
  background-size: 100%;
}

.banner .container{
  height: 510.1px;
  justify-content: center;
  align-items: center;
  color: #ffff;
  flex-direction: column;
}

.container h2{
  font-weight: 850;
  font-size:  26px;
}

.container p {
  margin-top: 1rem;
  word-wrap:  normal;
  color: white;
  font-size: larger;
}

.botao_banner button{
  margin-top: 1rem;
  cursor: pointer;
  background-color: #ffff;
  color: #1D676D;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.botao_banner button a {
  text-decoration: none;
  color: #1D676D;
}

/* INFO */
.algumas_info{
  background-color: #ffff;
  background-position: 100%;
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10rem;
}

.meio .meioBorder {
  height: 5px;
  width: 100%;
  background-image: linear-gradient(to bottom, gray, white);
}

.meio .meioBorder2 {
  height: 5px;
  width: 100%;
  background-image: linear-gradient(to bottom, white, gray);
}

.text1{
  margin-left: 6rem;
}

.text1 h4{
  font-size: 20px;
  margin-bottom: 1rem;
}

.text1 p{
  font-size: 18px;
}

/* DADOS */
.dados{
  background-color: #77A4A6;
  width: 100%;
  height: 76.2vh;
}

.dados_2{
  display: flex;
  justify-content: space-between;
  padding: 10vh;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffff;
}

.box p{
  align-items: center;
}

.box img{
  width: 170px;
}

/* VOCE SABIA? */
.voce_sabia{
  background-color: #ffff;
  width: 100%;
}

.voce_sabia .vcsabiaBorder{
  height: 5px;
  width: 100%;
  background-image: linear-gradient(to bottom, gray, white);
}

.voce_sabia .vcsabiaBorder2{
  height: 5px;
  width: 100%;
  background-image: linear-gradient(to bottom, white, gray);
}

.texto_vc_sabia h4{
  margin-left: 17rem;
  padding-top: 6rem;
  margin-bottom: 2rem;
  font-size: large;
}

.contexto_vc_sabia{
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 0 0 6rem 0;
}

.imagem_vc_sabia{
  background-color: #1d676d;
  border-radius: 20px;
  width: 250px;
  height: 415px;
  margin-left: 1rem;
}

.imagem_vc_sabia img{
  height: 416px;
  width: 270px;
  justify-content: center;
  display: flex;
}

/* MARKETING */
.marketing{
  background-color: #77A4A6;
  width: 100%;
  height: 90vh;
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
}

.marketing img{
  width: 427px;
  height: 453px;
}

.textos_marketing{
  padding: 10rem;
  color: #fff;
}

.textos_marketing button{
  margin-top: 1rem;
  cursor: pointer;
  background-color: #ffff;
  color: #1D676D;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.titulo_texto_marketing{
  font-size: 23px;
  margin-bottom: 1rem;
}

/* iformação de 1 a 4  */
.posicoesb{
  margin-top: 4rem;
  flex-direction: row;
}

.posicoesc{
  margin-bottom: 9rem;
}

.posicoes{
  display: inherit;
  flex-direction: row;
}

.infoBorder{
  height: 5px;
  width: 100%;
  background-image: linear-gradient(to bottom, gray, white);
}

.infoBorder2{
  height: 5px;
  width: 100%;
  background-image: linear-gradient(to bottom, white, gray);
}

.informacoes{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numeros{
  background-color: #77A4A6;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.dentro_circulo{
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 50px;
  color: #ffff;
}

.containerGeralhome {
  background-color: #AFDADB;
  background-image: url("../assets/Linhas 1ª dobra direita.svg"), url("../assets/Linhas 1ª dobra esquerda.svg");
  background-size: 35%, 50%;
  background-position: right top, left top;
  background-repeat: no-repeat;
}

/*SERVIÇOS*/
.services-title {
  font-family: 'Vogie Black', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color:  #1d676d; 
  text-align: center;
  margin-top: 5%;
}

.sessao-2 .container, .content {
  display: flex;
  align-items: center;
  margin: 1% 0 1% 1%;
}

.card-s2 {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 5px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transition: 0.8s;
  padding: 20px;
  margin: 1% 0 5% 0;
}

.card-s2 img{
  margin-right: 5px;
  width: 70px;
}

.card-s2:hover {
  transform: scale(0.9)
}

/* ENTRE EM CONTATO*/
.texto_inicio_info{
  margin-top: 9rem;
  font-size: x-large;
}

.texto{
  font-size: small;
}

.contato {
  width: 100%;
  background:#77A4A6; 
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffff;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  padding: 0 0 8rem 0;
}

.contato h2{
  padding: 8rem 0 2rem 0;
}

.contato p {
  padding: 0 0 2rem;
}

input {
  margin: 8px 8px;
  border-radius: 10px;
  height: 30px;
  width: 250px;
  border: 0;
  background-color: #dedede;
  padding: 0.9rem;
}

#msg {
  background-color: #dedede;
  border-radius: 10px;
  width: 250px;
  height: 100px;
  padding: 1rem;
  margin-bottom: 3%;
}

.btn {
  background-color: #fff;
  padding: 1rem 2.9rem;
  border-radius: 10px;
  border: none;
  color: #1D676D;
  cursor: pointer;
}

/* FOOTER */
.footer{
  width: 100%;
  background-color: #1D676D;
  display: flex;
  padding: 1rem 5rem;
  gap: 18.5rem;
  color: #fff;
}

.help_desk{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.redess{
  display: flex;
  gap: 0.5rem;
  
}

.help_desk button{
  margin-top: 1rem;
  cursor: pointer;
  background-color: #ffff;
  color: #1D676D;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.logo_footer{
  background-color: #1D676D;
  padding-left: 3rem;
}

.logo_footer img{
  width: 100px;
  height: 100px;
  justify-content: center;
  padding-left: 2rem;
}

.creditos_e_redes{
  padding-top: 2rem;
}

.social_social img{
  height: 2rem;
  margin-top: 1rem;
  cursor: pointer;
}