/* background-color:#1d676d; jogando cor em cima da imagem
  background-blend-mode: multiply; filtro da imagem com a cor */

  .containerGeralhome {
    background-color: #AFDADB;
    background-image: url("../assets/Linhas 1ª dobra direita.svg"), url("../assets/Linhas 1ª dobra esquerda.svg");
    background-size: 35%, 50%;
    background-position: right top, left top;
    background-repeat: no-repeat;
  }
  
.container-2 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
}

 .login {
  padding: 30px 60px;
  border-radius: 4%;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: white;
font-weight: bold;
} 

.container-2 h1 {
  display: flex;
  justify-content: center;
  color: #1d676d;
  font-size: 300%;
  font-weight: bold;
  margin-bottom: 70px;
}

.recuperacao_cadastro,
.recuperar_senha,
.sem_conta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px 10px;
  color: #1d676d;
  text-decoration: none;
}

.sem_conta a {
  margin-left: 8px;
  text-decoration: none;
}

.label-float{
  margin-bottom: 4%;
}

.label-float input {
   padding: 5px 5px;
  background-color: antiquewhite;  ;
 font-size: 16px;
 border: none;
  border-radius: 8px;
}

button {
  background-color: #1d676d;
  border-color: #1d676d;
  color: #77a4a6;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 16px;
  margin: 20px 20px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  transition: all 0.5s ease-out;
  border: 0;
  width: 250px;
  color: antiquewhite;  
}

button:hover {
  color: antiquewhite;  
    background-color: #77a4a6;
}

.container-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* NAVBAR*/

.container-header {
  display: flex;
  width: 100%;
  font-family: Poppins;
  font-size: 100%;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  background-color: #1d676d;
  padding-left: 25px;
}

.ppdrink {
  max-width: 100px;
}

.navbar a {
  color: antiquewhite;  
  text-decoration: none;
}

.navbarLista {
  display: flex;
  width: 100%;
  align-items: center;
  list-style: none;
  justify-content: end;
  padding-right: 50px;
}

.navbarLista ul,
.navbarLista li a {
  justify-content: space-evenly;
  padding: 5px 10px;
  color: #0f1631;
  font-weight: 800;
  text-decoration: none;
  color: antiquewhite;  
}

.loginBtn {
  padding: 7px 25px;
  color: antiquewhite;  
  letter-spacing: 1px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #c8cfee;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  background-color: #1d676d;
  color: antiquewhite;  
}

.footerContainer,
.container-1,
.container-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 1%;
}

.paragrafoFooter {
  margin-bottom: 3%;
  margin-top: 1.9%;
}

.primeiro_texto h2 {
  margin-bottom: 4%;
}
.segundo_texto h2 {
  margin-bottom: 4%;
}
.contato h2,
p {
  margin-bottom: 1%;
}

.divisao{
  display: flex;
}