.containerCalculosGeral {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #afdadb;
  background-image: url("../assets/Linhas 1ª dobra direita.svg"),
    url("../assets/Linhas 1ª dobra esquerda.svg");
  background-size: 20%, 35%;
  background-position: right top, left top;
  background-repeat: no-repeat;
}

.tituloCalculadora {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  color: rgb(101, 97, 97);
  margin-top: 3%;
}

#div_resultado {
  color: rgb(101, 97, 97);
   font-size: large;
  line-height: 3rem;
}

.tituloCalculadora h1 {
   color: #1d676d;
  margin-top: 3%;
  margin-bottom: 3%;
}

.containerCalculosGeral span {
  color: #1d676d;
}

/*Começo dos inputs*/
.containerCalculadoraInputs {
  display: flex;
  width: 90%;
  align-items: center;
  margin-bottom: 5%;
  margin-top: 5%
  ;
}

.InputDireitoCalculadora h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
  font-weight: 900px;
  color: aliceblue;
}

.InputEsquerdoCalculadora h3 {
  font-family: Arial, Helvetica, sans-serif;
  width: 60%;
  font-size: 200%;
  font-weight: 900px;
  color: rgb(101, 97, 97);
}

.InputEsquerdoCalculadora p {
  width: 60%;
  color: #1d676d;
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
  justify-content: left;
  text-decoration: underline;
}

.InputEsquerdoCalculadora span {
  font-size: 100%;
  color: #1d676d;
  font-family: Arial, Helvetica, sans-serif;
}

.InputDireitoCalculadora{
  background-color: #1d676d;
  padding: 10% 8%;
}

.InputDireitoCalculadora span {
  font-size: 100%;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
}

.InputEsquerdoCalculadora {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 90%;
}

.InputDireitoCalculadora {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 90%;
}

.InputCalculadora {
background-color: aliceblue;
  width: 80%;
  display: flex;
  margin-bottom: 3%;
  padding: 10px 8px;
  font-size: 120%;
  
}

.InputDireitoCalculadora p {
  width: 60%;
  color: #1d676d;
  font-size: 100%;
  font-weight: bold;
  cursor: pointer;
  justify-content: left;
  align-self: center;
  text-decoration: underline;
}

.ButtonDivCalculadora #btn_simular {
  background-color: #1d676d;
  border-color: #1d676d;
  text-transform: uppercase;
  padding: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 16px;
  margin-bottom: 20%;
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  width: 250px;
  color: white;  
}

.InputEsquerdoCalculadora h3 {
  margin-bottom: 8px;
  padding-bottom: 2vw;
}

.InputEsquerdoCalculadora p{
  padding-bottom: 1vw;
}

.InputDireitoCalculadora b{
  font-weight: 800;
}

