body{
    display: flex;
    flex-direction: column;
}

.unidade{
    background-color: #77a4a6;
    min-height: 80vh;
}

/* TOPO  */

.titulo{
    color: #FFFFFF;
    font-size: 1.5vw;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.topo{
    display: flex;
    justify-content: space-between;
}

.unidade .container{
    margin: auto;
    flex-direction: column;
}

.metrica{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    width: 40%;
}

.medida_metrica{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    text-align: center;
    color: white;
    margin-left: 3%;
    margin-right: 3%;
    padding: 1% 0;
}

#muito_baixo{
    background-color: #8f1505;
    color: #FFFFFF;
    border-radius: 8px;
}

#baixo{
    background-color: #E4442E;
    color: #FFFFFF;
    border-radius: 8px;
}
#quase{
    background-color: #E4BC2E;
    color: #FFFFFF;
    border-radius: 8px;
}

#esperado{
    background-color: #54854C;
    color: #FFFFFF;
    border-radius: 8px;
}

#alto{
    background-color: #1fb708;
    color: #FFFFFF;
    border-radius: 8px;
}

button{
    background-color: #1d676d;
    border-color: #1d676d;
    color:#FFFFFF;
    text-transform: uppercase;
    padding-right: 8px;
    padding-left: 8px;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 12px;
    margin-right: 10%;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .5s ease-out;
  }

button:hover{
    color: #ebded5;
      background-color: #77a4a6;
}

select{
    background-color: #1d676d;
    border-color: #1d676d;
    border-radius: 4px;
    padding-right: 8px;
    padding-left: 8px;
    color:#FFFFFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

/* UNIDADE */


.card{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2vh;
    background-color: #1d676d;
    border-radius: 15px;
    color: #fff;
}

.card span{
    margin: 10px;
}

.card p{
    margin: 10px;
}

.alerta{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}

.alerta span{
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.circulo{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.muito_baixo{
    color: #FFFFFF;
    background-color: #8f1505;
}

.baixo{
    color: #FFFFFF;
    background-color: #E4442E;
}

.quase{
    background-color:#E4BC2E;
    color: black;
}

.esperado{
    background-color: #54854C;
    color: #FFFFFF;
}

.alto{
    color: #FFFFFF;
    background-color: #1fb708;
}



.card_unidade{
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.meta{
    display: flex;
    flex-direction: column;
    background: none;
}

.meta span{
    margin-top: 0;
    margin-bottom: 0;
}