/*Na primeira tem a estilização do documento, com as cores de fundo e centralização, e também a estilização do botão de abrir.*/

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(52, 52, 52);
  background: linear-gradient(
    90deg,
    rgba(52, 52, 52, 1) 0%,
    rgba(97, 119, 255, 1) 0%,
    rgba(33, 57, 189, 1) 100%
  );
}

.wrapper a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  background-color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  color: #585858;
  font-family: "Roboto", sans-serif;
}

/*Logo em seguida nas estilizações, tem o estilo da div escondida em si, e também o pseudoelemento :target, que basicamente nesse caso faz aparecer o modal, trocando a sua visibilidade.*/

.modal {
  visibility: hidden;
   position: absolute;
   z-index: 1;
   top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  transition: all 0.10s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

/*E por fim tem a estilização do conteúdo em si, o texto centralizado, o rodapé e o botão para fechar.*/

.content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #522727;
  padding: 1em 2em;
}

.footer {
  text-align: right;
  margin-top: 50px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}

.footer-btn-close {
  width: 150px;
  padding: 10px;
  text-decoration: none;
  background-color: #cfcca8;
  color: #000000;
  border-radius: 3px;
}
