
/* NAVBAR */

.ppdrink {
  max-width: 100px;
}

.header-navbar {
  width: 100%;
  background-color: #0F1827 ;
 font-weight: 800;
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: space-around;
  }

.logo-navbar {
margin-right: 1000px;
}

.navbarLista li{
  display: inline;
  margin: 0 0 0 15px;  
}

.navbarLista a{
  color: #ffff;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1px;
}

.botao-gradiente {
  background-image: linear-gradient(to right, #32C0D7,#1d676d);
  border-radius: 31px;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #0F1827;
  transition: 0.5s;
  padding: 10px;
}

.botao-gradiente:hover {
  opacity: 0.8;
  box-shadow:
  1px 1px #53a7ea,
  2px 2px #53a7ea;
  -webkit-transform: translateX(-3px);
transform: translateX(-3px);
}


/* HOME */

.containerGeralhome {
  background-color: #AFDADB;
  background-image: url("../assets/Linhas 1ª dobra direita.svg"), url("../assets/Linhas 1ª dobra esquerda.svg");
  background-size: 35%, 50%;
  background-position: right top, left top;
  background-repeat: no-repeat;
}

/* CONTEXTO PUMP DRINK */

.meio h2 {
  color: #1d676d;
  margin: 0;
  padding-top: 70px;
  font-size: 35px;
  font-weight: 800;
  text-align: justify;
}

.meio p {
  width: 500px;
  color: rgb(80, 80, 80);
  text-align: justify;
}

.meio span {
  color: #1d676d;
  font-size: 35px;
  font-weight: 700;
}

.imagem1 {
  background-color: #1d676d;
  height: 300px;
  width: 300px;
  margin-top: 100px;
  border-radius: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
}

.primeira_parte {
  display: flex;
  justify-content: space-around;
}

.segunda_parte {
  display: flex;
  justify-content: space-around;
}

.segunda_parte h2 {
  text-align: justify;
}

.imagem2 {
  background-color: #1d676d;
  height: 517px;
  width: 270px;
  margin-top: 100px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}


/*SERVIÇOS*/

.services-title {
  font-family: 'Vogie Black', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color:  #1d676d; 
  text-align: center;
  margin-top: 5%;
}

.sessao-2 .container, .content {
  display: flex;
  align-items: center;
  margin: 1% 0 1% 1%;
}

.card-s2 {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 5px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transition: 0.8s;
  padding: 20px;
  margin: 1% 0 5% 0;
}

.card-s2 img{
  margin-right: 5px;
  width: 70px;
}

.card-s2:hover {
  transform: scale(0.9)
}


/* ENTRE EM CONTATO*/

.contato {
  width: 100%;
  background:#3ea2a7; 
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1d676d;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}


input {
  margin: 8px 8px;
  border-radius: 10px;
  height: 30px;
  width: 250px;
  border: 0;
  background-color: #dedede;
  padding: 10px;
}

#msg {
  background-color: #dedede;
  border-radius: 10px;
  width: 250px;
  height: 100px;
  padding: 8px;
  margin-bottom: 3%;
}

.btn {
  background-image: linear-gradient(to right, #32C0D7,#1d676d);
  color: #ebded5;
  border: 0;
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 5%;
  border: 1px solid #0F1827;
  transition: 0.5s;
  padding: 20px;
  text-transform: uppercase;
}

.btn:hover{
  opacity: 0.8;
  box-shadow:
  1px 1px #53a7ea,
  2px 2px #53a7ea;
  -webkit-transform: translateX(-3px);
transform: translateX(-3px);
}



/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  background-color: #0F1827;;
  color: white;
}

.footerContainer,
.container-1,
.container-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 1%;
}
.paragrafoFooter {
  margin-bottom: 3%;
  margin-top: 1.9%;
}

 .primeiro_texto h2 {
  margin-bottom: 4%;
}
.segundo_texto h2{
  margin-bottom: 4%;
}
.contato h2, p{
  margin-bottom: 1%;
}