
/* NAVBAR */

.ppdrink {
  max-width: 100px;
}

.header-navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0F1827 ;
 font-weight: 00;
   list-style: none;
     }

.logo-navbar {
margin-right: 500px;
}

.navbarLista li{
  margin: 0 0 0 15px;  
}

.navbarLista a{
  color: #ffff;
  text-decoration: none;
  font-size: 15px;
  letter-spacing: 1px;
}

.botao-gradiente {
  background-image: linear-gradient(to right, #32C0D7,#1d676d);
  border-radius: 31px;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #0F1827;
  transition: 0.5s;
  padding: 10px;
}

.botao-gradiente:hover {
  opacity: 0.8;
  box-shadow:
  1px 1px #53a7ea,
  2px 2px #53a7ea;
  -webkit-transform: translateX(-3px);
transform: translateX(-3px);
}


/* HOME */

/* BANNER */

.banner{
  background-image: url('../assets/banner_inicio.png');
  background-size: 100%;
}

.banner .container{
  height: 500px;
  justify-content: center;
  align-items: center;
  color: #ffff;
  flex-direction: column;
}

.container h2{
  font-weight: 850;
  font-size:  26px;
}

.container p {
  margin-top: 1rem;
  word-wrap:  normal;
  color: white;
  font-size: larger;
}

.botao_banner button{
  margin-top: 1rem;
  cursor: pointer;
  background-color: #ffff;
  color: #1D676D;
}

/* INFO */

.algumas_info{
  background-color: #ffff;
  background-position: 100%;
  height: 70vh;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10rem;
}

.text1{
  margin-left: 6rem;
}

.text1 h4{
  font-size: 20px;
  margin-bottom: 1rem;
}

.text1 p{
  font-size: 18px;
}

/* DADOS */

.dados{
  background-color: #77A4A6;
  width: 100%;
  height: 76.2vh;
}

.dados_2{
  display: flex;
  justify-content: space-between;
  padding: 10vh;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffff;
}

.box p{
  align-items: center;
}

.box img{
  width: 170px;
}


/* VOCE SABIA? */

.voce_sabia{
  background-color: #ffff;
  width: 100%;
  height: 90vh;
  padding: 6rem 0;
}

.texto_vc_sabia h4{
  margin-left: 9.1rem;
}

.contexto_vc_sabia{
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.texto2_vc_sabia{}

.imagem_vc_sabia{
  background-color: #1d676d;
  border-radius: 20px;
  width: 250px;
  height: 415px;
}

.imagem_vc_sabia img{
  height: 416px;
  width: 300px;
  justify-content: center;
  display: flex;
}


/* MARKETING */

.marketing{
  background-color: #77A4A6;
  width: 100%;
  height: 90vh;
  padding: 6rem 0;
  display: flex-start;
}

.textos_marketing{}

.titulo_texto_marketing{}

.containerGeralhome {
  background-color: #AFDADB;
  background-image: url("../assets/Linhas 1ª dobra direita.svg"), url("../assets/Linhas 1ª dobra esquerda.svg");
  background-size: 35%, 50%;
  background-position: right top, left top;
  background-repeat: no-repeat;
}

<<<<<<< HEAD


/* SOBRE NÓS */

=======
/* CONTEXTO PUMP DRINK */
>>>>>>> 923b8e8c8b39c728fa60c1addc5281c1c935f031

/* .meio h2 {
  color: #1d676d;
  margin: 0;
  padding-top: 70px;
  font-size: 35px;
  font-weight: 800;
  text-align: justify;
}

.meio p {
  width: 500px;
  color: rgb(80, 80, 80);
  text-align: justify;
}

.meio span {
  color: #1d676d;
  font-size: 35px;
  font-weight: 700;
}

.imagem1 {
  background-color: #1d676d;
  height: 300px;
  width: 300px;
  margin-top: 100px;
  border-radius: 20px;
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
}

.primeira_parte {
  display: flex;
  justify-content: space-around;
}

.segunda_parte {
  display: flex;
  justify-content: space-around;
}

.segunda_parte h2 {
  text-align: justify;
}

.imagem2 {
  background-color: #1d676d;
  height: 517px;
  width: 270px;
  margin-top: 100px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
} */


/*SERVIÇOS*/

.services-title {
  font-family: 'Vogie Black', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color:  #1d676d; 
  text-align: center;
  margin-top: 5%;
}

.sessao-2 .container, .content {
  display: flex;
  align-items: center;
  margin: 1% 0 1% 1%;
}

.card-s2 {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 5px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  transition: 0.8s;
  padding: 20px;
  margin: 1% 0 5% 0;
}

.card-s2 img{
  margin-right: 5px;
  width: 70px;
}

.card-s2:hover {
  transform: scale(0.9)
}


/* ENTRE EM CONTATO*/

.contato {
  width: 100%;
  background:#3ea2a7; 
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1d676d;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}


input {
  margin: 8px 8px;
  border-radius: 10px;
  height: 30px;
  width: 250px;
  border: 0;
  background-color: #dedede;
  padding: 10px;
}

#msg {
  background-color: #dedede;
  border-radius: 10px;
  width: 250px;
  height: 100px;
  padding: 8px;
  margin-bottom: 3%;
}

.btn {
  background-image: linear-gradient(to right, #32C0D7,#1d676d);
  color: #ebded5;
  border: 0;
  border-radius: 10px;
  font-size: 15px;
  margin-bottom: 5%;
  border: 1px solid #0F1827;
  transition: 0.5s;
  padding: 20px;
  text-transform: uppercase;
}

.btn:hover{
  opacity: 0.8;
  box-shadow:
  1px 1px #53a7ea,
  2px 2px #53a7ea;
  -webkit-transform: translateX(-3px);
transform: translateX(-3px);
}

<<<<<<< HEAD
/* NAVBAR */

.container-header {
  display: flex;
  width: 100%;
  /* font-size: 100%; */
  
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  background-color: #1d676d; ;
  padding-left: 25px;

} 

.ppdrink {
  max-width: 100px;
}

/* para colocar a header para descer junto com a pagina tem que colocar: "position: fixed;
width: 100vw;" na header */

.navbar a {
  color: #ffff;
  text-decoration: none;
}

.navbarLista {
  display: flex;
  width: 100%;
  align-items: center;
  list-style: none;
justify-content: end;
padding-right: 50px;

}

.navbarLista ul,
.navbarLista li a {
  justify-content: space-evenly;
  padding: 5px 10px;
  color: #0F1631;
  font-weight: 800;
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.loginBtn {
  padding: 7px 25px;
  color: #77a4a6;
  letter-spacing: 1px;
  border-radius: 10px;
  text-decoration: none;
  background-color: #ffff;
}
=======
>>>>>>> 923b8e8c8b39c728fa60c1addc5281c1c935f031


/* FOOTER */

.footer {
  display: flex;
  justify-content: center;
  background-color: #0F1827;;
  color: white;
}

.footerContainer,
.container-1,
.container-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 1%;
}
.paragrafoFooter {
  margin-bottom: 3%;
  margin-top: 1.9%;
}

 .primeiro_texto h2 {
  margin-bottom: 4%;
}
.segundo_texto h2{
  margin-bottom: 4%;
}
.contato h2, p{
  margin-bottom: 1%;
}